/* -------------------------------------------[ Toggle Segment ]-----
   As definições de um painel para definições avançadas de pesquisa
   ------------------------------------------------------------------ */

.toggle.segment {
  display: none;
  margin-top: 0;
}
.toggle.segment.active {
  display: block;
}
.toggle.segment .inline.field {
  padding-bottom: .3em;
}
.ui.top.attached.label + :not(.attached),
.ui.top.attached.label ~ .ui.bottom.attached.label + :not(.attached) {
  margin-top: 3rem !important;
}
.ui.checkbox input:focus ~ label,
.ui.toggle.checkbox label {
  color: rgba(0, 0, 0, .45);
}
.ui.toggle.checkbox input:checked ~ label {
  color: rgba(0, 0, 0, .95);
}
.ui.icon.input.inactive {
  opacity: 1;
}
.ui.icon.input.inactive input {
  background-color: GhostWhite;
}
.ui.icon.input.inactive.disabled {
  opacity: .45;
}
