<!-- Início diálogo modal de informação -->
<div class="ui tiny info modal transition hidden" style="margin-top: -93.2px;">
  <div class="header">
    Parabéns!
  </div>
  <div class="image content">
    <div class="icon">
      <svg version="1.1" class="svg"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px" y="0px"
           viewBox="0 0 32 32"
           style="enable-background:new 0 0 32 32;"
           xml:space="preserve">
        <path d="m20.2698 4.9452006c-.317641-.3251222-.724092-.4899729-1.207938-.4899729-.602389 0-1.12706.2380532-1.559245.707581-.425284.4617884-.640957 1.0284465-.640957 1.6841731 0 .518093.158853.9474401.472108 1.2760451.317447.3335711.718416.5026785 1.19162.5026785.577751 0 1.099585-.2514038 1.550925-.7472458.443472-.4871351.668368-1.0598558.668368-1.7022318.000064-.4936492-.159691-.9077753-.474881-1.2310272zm.06237 18.2447034c-.08945-.131055-.261078-.177686-.404387-.109772-1.585431.750535-3.384857 1.544025-3.738035 1.613357-.0089-.0079-.02302-.02244-.04153-.04753-.04786-.06482-.07114-.149501-.07114-.25895 0-.896811.676881-3.624974 2.011746-8.10832 1.125513-3.766928 1.255665-4.546873 1.255665-4.805823 0-.399744-.153048-.737507-.442762-.97685-.275203-.22696-.659726-.341956-1.142798-.341956-.80355 0-1.734866.305064-2.847221.932671-1.077915.608387-2.280048 1.638832-3.572798 3.062701-.101193.111513-.11177.278234-.02548.401679.08642.123509.246695.170526.38607.11377.453856-.185231 2.734742-1.119579 3.067217-1.328415.272235-.170656.507902-.257273.700486-.257273.0069 0 .01284.000258.0178.000645.0023.01277.0045.03225.0045.06017 0 .196518-.04044.429154-.119703.690296-1.943639 6.297413-2.888435 10.157925-2.888435 11.802304 0 .580332.161304 1.047538.479331 1.388461.324091.347825.761242.524156 1.299328.524156.57343 0 1.271337-.239537 2.133514-.732283.834315-.476751 2.107716-1.525514 3.893147-3.206527.11564-.108804.134924-.285457.04547-.416512z" stroke-width=".056434"/>
      </svg>
    </div>
    <div class="description">
      A description can appear on the right
    </div>
  </div>
  <div class="actions">
    <button class="ui positive right labeled icon button">
      OK
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>
<!-- Fim diálogo modal de informação -->
