/* ---------------------------------------------------[ Rodapé ]-----
   As definições do rodapé da página
   ------------------------------------------------------------------ */

table.footer {
  border-top: 1px solid #000000;
  vertical-align: top;
  font-style: italic;
}
