  <div class="ui message-box">
    {% for name, messages in flash.getMessages() %}
      {% set message = { 'error': 'Erro!',
                         'info': 'Para sua informação',
                         'success': 'Parabéns!',
                         'warning': 'Atenção!', } %}
      <div class="{{ name }} flash message">
        <div class="icon">
          {% if name == 'error' %}
          <svg version="1.1" class="svg"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               x="0px" y="0px"
               viewBox="0 0 32 32"
               style="enable-background:new 0 0 32 32;"
               xml:space="preserve">
            <path d="M 5.3671875 2.9550781 C 4.7511547 2.9550781 4.1360987 3.1920263 3.6640625 3.6640625 C 2.7199901 4.6081349 2.7199901 6.1281932 3.6640625 7.0722656 L 12.589844 16 L 3.6621094 24.927734 C 2.718037 25.871807 2.718037 27.391865 3.6621094 28.335938 C 4.6061818 29.28001 6.1281932 29.28001 7.0722656 28.335938 L 16 19.408203 L 24.927734 28.335938 C 25.871807 29.28001 27.393818 29.28001 28.337891 28.335938 C 29.281963 27.391865 29.281963 25.871807 28.337891 24.927734 L 19.408203 16 L 28.335938 7.0722656 C 29.28001 6.1281932 29.28001 4.6061818 28.335938 3.6621094 C 27.391865 2.718037 25.871807 2.718037 24.927734 3.6621094 L 16 12.589844 L 7.0722656 3.6640625 C 6.6002294 3.1920263 5.9832203 2.9550781 5.3671875 2.9550781 z " />
          </svg>
          {% endif %}
          {% if name == 'info' %}
          <svg xmlns="http://www.w3.org/2000/svg"
               version="1.1" class="svg"
               x="0px" y="0px"
               enable-background="new 0 0 32 32"
               viewBox="0 0 32 32">
            <path d="m20.2698 4.9452006c-.317641-.3251222-.724092-.4899729-1.207938-.4899729-.602389 0-1.12706.2380532-1.559245.707581-.425284.4617884-.640957 1.0284465-.640957 1.6841731 0 .518093.158853.9474401.472108 1.2760451.317447.3335711.718416.5026785 1.19162.5026785.577751 0 1.099585-.2514038 1.550925-.7472458.443472-.4871351.668368-1.0598558.668368-1.7022318.000064-.4936492-.159691-.9077753-.474881-1.2310272zm.06237 18.2447034c-.08945-.131055-.261078-.177686-.404387-.109772-1.585431.750535-3.384857 1.544025-3.738035 1.613357-.0089-.0079-.02302-.02244-.04153-.04753-.04786-.06482-.07114-.149501-.07114-.25895 0-.896811.676881-3.624974 2.011746-8.10832 1.125513-3.766928 1.255665-4.546873 1.255665-4.805823 0-.399744-.153048-.737507-.442762-.97685-.275203-.22696-.659726-.341956-1.142798-.341956-.80355 0-1.734866.305064-2.847221.932671-1.077915.608387-2.280048 1.638832-3.572798 3.062701-.101193.111513-.11177.278234-.02548.401679.08642.123509.246695.170526.38607.11377.453856-.185231 2.734742-1.119579 3.067217-1.328415.272235-.170656.507902-.257273.700486-.257273.0069 0 .01284.000258.0178.000645.0023.01277.0045.03225.0045.06017 0 .196518-.04044.429154-.119703.690296-1.943639 6.297413-2.888435 10.157925-2.888435 11.802304 0 .580332.161304 1.047538.479331 1.388461.324091.347825.761242.524156 1.299328.524156.57343 0 1.271337-.239537 2.133514-.732283.834315-.476751 2.107716-1.525514 3.893147-3.206527.11564-.108804.134924-.285457.04547-.416512z" stroke-width=".056434"/>
          </svg>
          {% endif %}
          {% if name == 'success' %}
          <svg version="1.1" class="svg"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               x="0px" y="0px"
               viewBox="0 0 32 32"
               style="enable-background:new 0 0 32 32;"
               xml:space="preserve">
            <path d="M 29.503906 5.546875 C 28.887874 5.546875 28.270864 5.7838234 27.798828 6.2558594 L 11.273438 22.78125 L 4.1503906 15.65625 C 3.2063185 14.712178 1.6862596 14.712178 0.7421875 15.65625 C -0.2018846 16.600322 -0.2018846 18.120381 0.7421875 19.064453 L 9.5703125 27.892578 C 10.160357 28.482623 10.975584 28.704152 11.734375 28.556641 C 12.18965 28.468134 12.624489 28.246605 12.978516 27.892578 L 31.207031 9.6640625 C 32.151103 8.7199906 32.151103 7.1999313 31.207031 6.2558594 C 30.734995 5.7838234 30.119939 5.546875 29.503906 5.546875 z " />
          </svg>
          {% endif %}
          {% if name == 'warning' %}
          <svg version="1.1" class="svg"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               x="0px" y="0px"
               viewBox="0 0 32 32"
               style="enable-background:new 0 0 32 32;"
               xml:space="preserve">
            <path d="M 16 0 C 14.151403 0 12.557516 1.4922551 12.662109 3.3378906 L 13.65625 20.875 C 13.70854 21.797817 14.94362 23.007521 16 23.007812 C 17.044064 23.0081 18.262819 21.821181 18.316406 20.898438 L 19.335938 3.3378906 C 19.443108 1.4924033 17.848596 0 16 0 z M 16 25.378906 A 3.3096049 3.3094406 0 0 0 12.691406 28.6875 A 3.3096049 3.3094406 0 0 0 16 32 A 3.3096049 3.3094406 0 0 0 19.308594 28.6875 A 3.3096049 3.3094406 0 0 0 16 25.378906 z " />
          </svg>
          {% endif %}
        </div>
        <div class="content">
          <div class="header">
            {{ message[name] }}
          </div>
          {% for message in messages %}
          <p>{{ message | raw }}</p>
          {% endfor %}
        </div>
        <div class="close">
          <svg xmlns="http://www.w3.org/2000/svg"
               enable-background="new 0 0 15.642 15.642"
               viewBox="0 0 15.642 15.642">
            <path d="m1.4921875-.00585938a1.50015 1.50015 0 0 0 -1.04492188 2.57617188l5.25390628 5.2539063-5.25390628 5.2558592a1.50015 1.50015 0 1 0 2.12109378 2.121094l5.2558594-5.2558595 5.2539062 5.2558595a1.50015 1.50015 0 1 0 2.121094-2.121094l-5.2539065-5.2558592 5.2539065-5.2539063a1.50015 1.50015 0 0 0 -1.089844-2.57617188 1.50015 1.50015 0 0 0 -1.03125.453125l-5.2558594 5.25585938-5.2539062-5.25390625a1.50015 1.50015 0 0 0 -1.0761719-.45507813z"/>
          </svg>
        </div>
      </div>
    {% endfor %}
  </div>
