<div class="ui large history modal">
  <i class="close icon"></i>
  <div class="header">
    <i class="history icon"></i>
    &nbsp;Histórico de movimentos do título
  </div>
  <div class="scrolling content">
    <div class="description">
      <div class="ui header">
        <div class="sub header">
          Título
        </div>
      </div>
      <table class="ui celled history compact table" id="historyTable">
        <thead>
          <tr>
            <th class="center aligned">Data</th>
            <th class="center aligned">Evento</th>
            <th class="center aligned">Descrição</th>
            <th class="center aligned">Observação</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th colspan="4">
              <button class="ui right floated small primary labeled icon button"
                      onclick="tableToExcel('historyTable', 'Histórico de movimentos')">
                <i class="file excel icon"></i>
                Exportar para Excel
              </button>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Fechar
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>