<div class="ui reason small modal">
  <i class="close icon"></i>
  <div class="header main">
    <i class="pencil icon"></i>
    &nbsp;Alteração
  </div>
  <div class="content">
    <div class="description">
      <div class="ui header">
        <div class="sub header">
          Título
        </div>
      </div>
    </div>
    <div class="content">
      <div class="ui reason form">
        <div class="fields">
          <span class="ui error text"></span>
          <input type="hidden" name="reasonID"
                 value="0">
          <input type="hidden" name="reasonMethodID"
                 value="0">
        </div>

        <div class="fields">
          <div class="sixteen wide field">
            <label>
              Motivo:
            </label>
            <div class="ui input">
              <textarea name="reasonsdescription" rows="6"
                        placeholder="Faça um breve comentário sobre o que motivou a alteração..."></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="ui youtube cancel right labeled icon button">
      Cancelar
      <i class="remove icon"></i>
    </button>
    <button class="ui primary ok right labeled icon button">
      Confirmar
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>