  <div class="ui lgpd consent bottom fixed nag">
    <span class="title col">
      Este site utiliza cookies e tecnologias semelhantes, como
      explicado em nossa
      <a href="{{ path_for('PrivacityControl') }}"
         target="_blank"
         class="link">Pol&iacute;tica de Privacidade</a>, para
      recomendar conteúdo e publicidade. Ao navegar por nosso
      conteúdo, o usuário aceita tais condições.
    </span>
    <button class="ui yellow close accept button col">Aceitar</button>
  </div>
