<!-- Início diálogo modal de erro -->
<div class="ui small error modal transition hidden" style="margin-top: -93.2px;">
  <div class="header">
    Ops
  </div>
  <div class="image content">
    <div class="icon">
      <svg version="1.1" class="svg"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px" y="0px"
           viewBox="-3 -3 38 38"
           style="enable-background:new 0 0 32 32;"
           xml:space="preserve">
        <path d="m6.2196618 4.0009412c-.566643 0-1.1323876.2179674-1.5665787.6521911-.8683824.8684474-.8683824 2.2667413 0 3.1351887l8.2101669 8.212578-8.2119635 8.212577c-.8683823.868448-.8683823 2.266741 0 3.135189.8683824.868447 2.2683682.868447 3.1367505 0l8.211963-8.212578 8.211962 8.212578c.868383.868447 2.268369.868447 3.136752 0 .868382-.868448.868382-2.266741 0-3.135189l-8.21376-8.212577 8.211963-8.212578c.868382-.8684474.868382-2.2685379 0-3.1369853-.868383-.8684474-2.266572-.8684474-3.134955 0l-8.211962 8.2125783-8.211963-8.2107817c-.4341911-.4342237-1.0017322-.6521911-1.5683752-.6521911z"/>
      </svg>
    </div>
    <div class="description">
      A description can appear on the right
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      OK
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
<!-- Fim diálogo modal de erro -->
