<!-- Início diálogo modal de questionamento -->
<div class="ui small question modal transition hidden"
     style="margin-top: -93.2px;">
  <div class="header">
    Pergunta
  </div>
  <div class="image content">
    <div class="icon">
      <svg version="1.1" class="svg"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px" y="0px"
           viewBox="0 0 32 32"
           style="enable-background:new 0 0 32 32;"
           xml:space="preserve">
        <path d="m8.9143211 11.195861c0-.897467.2881017-1.8068659.8644342-2.7280029.5761387-.921137 1.4171617-1.684 2.5224867-2.2887178 1.10539-.6045244 2.394979-.9069479 3.868767-.9069479 1.369757 0 2.579179.2528903 3.627877.7581548 1.048698.5055224 1.858633 1.1928601 2.430387 2.0619486.571495.8693464.857339 1.8139601.857339 2.8342922 0 .803109-.16298 1.507087-.488941 2.111547-.32596.604718-.71345 1.126687-1.162081 1.565907-.448825.439349-1.254181 1.178671-2.416198 2.217901-.321252.292942-.578848.550476-.772334.772408-.193745.222061-.337893.42516-.43225.609297-.09455.184266-.167882.368468-.219672.552734-.05205.184137-.129958.507909-.233796.970735-.179556.982666-.741764 1.47387-1.686366 1.47387-.491327 0-.904744-.160531-1.239992-.481852-.335442-.321127-.503066-.798271-.503066-1.431303 0-.793628.122671-1.480965.368464-2.061949.245599-.581112.571495-1.091278.977817-1.530498.406064-.43935.954148-.961254 1.643863-1.565972.604517-.528999 1.041604-.928232 1.310873-1.197504s.495971-.569051.680235-.899918c.184199-.330608.276363-.68953.276363-1.077024 0-.755769-.2812-1.3934441-.843215-1.9131558-.562208-.5194537-1.287396-.7794385-2.175307-.7794385-1.03941 0-1.80465.2621777-2.295784.7865331-.491328.5243554-.906937 1.2966992-1.247087 2.3170322-.321252 1.067737-.930671 1.60138-1.828127 1.60138-.529251 0-.9756247-.186459-1.3391863-.559764-.3636906-.373176-.5455036-.777052-.5455036-1.211693zm6.9156029 15.532013c-.576397 0-1.079462-.186717-1.509261-.559828-.429992-.373047-.644827-.895016-.644827-1.565907 0-.595237.207676-1.095858.623544-1.502185.415609-.406134.925769-.609362 1.53048-.609362.595229 0 1.095844.203228 1.502166.609362.406064.406327.609354.906948.609354 1.502185 0 .66141-.212577 1.181057-.637732 1.558877-.425155.377819-.916353.566858-1.473724.566858z" stroke-width=".064496"/>
      </svg>
    </div>
    <div class="description">
      A description can appear on the right
    </div>
  </div>
  <div class="actions">
    <div class="ui youtube cancel right labeled icon button">
      Não
      <i class="remove icon"></i>
    </div>
    <div class="ui primary ok right labeled icon button">
      Sim
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
<!-- Fim diálogo modal de questionamento -->
