<!-- Início diálogo modal de alerta -->
<div class="ui tiny warning modal transition hidden"
     style="margin-top: -93.2px;">
  <div class="header">
    Atenção!
  </div>
  <div class="image content">
    <div class="icon">
      <svg version="1.1" class="svg"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px" y="0px"
           viewBox="0 0 32 32"
           style="enable-background:new 0 0 32 32;"
           xml:space="preserve">
        <path d="m15.999973.49784089c-1.791078 0-3.335371 1.44582351-3.234032 3.23403191l.963208 16.9914412c.05066.894104 1.247314 2.066168 2.270824 2.06645 1.011578.000279 2.192412-1.149709 2.244331-2.043741l.987809-17.0141502c.103836-1.7880648-1.441063-3.23403191-3.23214-3.23403191zm0 24.58924011a3.2066264 3.2064672 0 0 0 -3.205647 3.205647 3.2066264 3.2064672 0 0 0 3.205647 3.209431 3.2066264 3.2064672 0 0 0 3.205647-3.209431 3.2066264 3.2064672 0 0 0 -3.205647-3.205647z" />
      </svg>
    </div>
    <div class="description">
      A description can appear on the right
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      OK
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
<!-- Fim diálogo modal de alerta -->
