// Dimensões básicas
$sidebar-size                 : 250px;
$logo-size                    : 200px;
$sidebar-onlyicons-size       : 50px;
$footer-size                  : 28px;
$calendar-height              : 200px;

// Cores
$darkTextColor                : rgba(0, 0, 0, 0.85);
$mutedTextColor               : rgba(0, 0, 0, 0.6);
$normalTextColor              : rgba(0, 0, 0, 0.5);
$lightTextColor               : rgba(0, 0, 0, 0.4);
$sidebarBackground            : #091219;
$textColor                    : rgba(0, 0, 0, 0.87);
$transparentWhite             : rgba(255, 255, 255, 0.05);
$subtleTransparentWhite       : rgba(255, 255, 255, 0.6);
$invertedTextColor            : rgba(255, 255, 255, 0.9);
$invertedMenuTextColor        : rgba(255, 255, 255, 0.7);
$invertedHoveredTextColor     : rgba(255, 255, 255, 1);
$invertedHoveredBackground    : rgba(0, 154, 255, 0.08);
$invertedPressedTextColor     : rgba(255, 255, 255, 1);
$invertedActiveTextColor      : rgba(255, 255, 255, 1);
$invertedActiveIconBackground : rgba(0, 81, 204, 0.9);
$invertedActiveBackground     : rgba(0, 102, 255, 0.9);
$invertedSelectedTextColor    : rgba(255, 255, 255, 1);
$invertedDisabledTextColor    : rgba(255, 255, 255, 0.2);
$invertedDividerBackground    : rgba(255, 255, 255, 0.08);
$dividerBackground            : rgba(0, 0, 0, 0.16);
$dimmerColor                  : rgba(0, 0, 0, 0.4);
$dimmerHoveredColor           : rgba(0, 0, 0, 0.7);
$dimmerShadowColor            : rgba(255, 255, 255, 0.5);
$dropdownButtonBackground     : #e8e8e8;

// Níveis do menu
$level1ArrowHoveredBackground : #081d2b;
$level1TextBackground         : #152836;
$level1IconBackground         : #091219;
$level2ArrowHoveredBackground : #0f2b3d;
$level2TextBackground         : #193647;
$level2IconBackground         : #10222C;
$level3ArrowHoveredBackground : #063351;
$level3TextBackground         : #145b89;
$level3IconBackground         : #0a4a75;

// Calendário
$saturday                     : #998200;
$sunday                       : #ba2a2a;

// Breadcrumb
$breadcrumbActiveBackground   : #f3f4f5;
$breadcrumbTextColor          : #ffffff;
$breadcrumbBackground         : #2185d0;
$breadcrumbHoveredBackground  : #1678c2;
$breadcrumbDividerBackground  : #1062a1;

// Mensagens
$flashBackground              : #ffffff;
$iconColor                    : #ffffff;
$infoColor                    : #2185d0;
$successColor                 : #21ba45;
$warningColor                 : #fbbd08;
$errorColor                   : #db2828;

// Conteúdo
$headerTextColor              : #005FA6;
$headerBackground             : #10222C;
$headerDivider                : #344F68;
$blueTextColor                : rgba(0, 102, 255, 0.9);
