/* ---------------------------------------------------[ Header ]-----
   As definições do título (cabeçalho) de um módulo ou página.
   ------------------------------------------------------------------ */

.ui.main.basic.segment {
  h2.ui.header {
    margin-bottom: 0;

    &.blue {
      color: $headerTextColor !important;
    }

    .sub.header {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    table {
      width: 100%;
        
      tr {
        td {
          vertical-align: top;

          &:first-child {
            align: right;
            width: 80px;
            padding-right: 10px;

            @include transition(all 0.5s ease);
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      font-size: 1.28571429rem;
    }
  }
}