<table width="100%" class="footer">
  <tr>
    <td width="30%">
      Impresso em <b>{DATE d/m/Y}</b> às <b>{DATE H:i:s}</b>
    </td>
    <td width="70%" class="right">
      Página <b>{PAGENO}</b> de <b>{nbpg}</b>
    </td>
  </tr>
</table>