<table width="100%" class="header">
  <tr>
    <td width="25%" class="logo">
      <img src="{{ image }}" alt="ERP" height="20" border="0" />{% if image matches '/^assets*/' %}TrackerERP{% endif %}
    </td>
    <td width="75%" class="title right">
      {{ title }}
    </td>
  </tr>
</table>