<div class="ui monitored form">
  <div class="fields">
    <div class="sixteen wide field">
      <label>
        Informe como deve ficar o monitoramento dos veículos deste cliente:
      </label>
    </div>
  </div>
  <div class="fields">
    <div class="sixteen wide field" style="display: flex; flex-direction: column; gap: 0.5rem;">
      <div class="ui radio checkbox">
        <input type="radio" name="monitoredState"
               id="enabled" value="enabled" checked="true"
               tabindex="1">
        <label for="enabled">Habilitar o monitoramento</label>
      </div>
      <div class="ui radio checkbox">
        <input type="radio" name="monitoredState"
               id="disabled" value="disabled"
               tabindex="2">
        <label for="disabled">Desabilitar o monitoramento</label>
      </div>
    </div>
  </div>
</div>
