<!-- Início diálogo modal de interação -->
<div class="ui small interaction modal transition hidden" style="margin-top: -93.2px;">
  <div class="header">
    Pergunta
  </div>
  <div class="content">
    A description can appear here
  </div>
  <div class="actions">
    <button class="ui youtube cancel right labeled icon button">
      Cancelar
      <i class="remove icon"></i>
    </button>
    <button class="ui primary ok right labeled icon button">
      Confirmar
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>
<!-- Fim diálogo modal de interação -->
