<div class="ui granting form">
  <div class="fields">
    <div class="four wide field">
      <label>Data</label>
      <div class="ui input left icon readonly">
        <i class="calendar icon"></i>
        <input name="billingdate" type="text" readonly value="">
        <input name="billingid" type="hidden" value="">
      </div>
    </div>
    <div class="eight wide field">
      <label>
        Descrição
      </label>
      <div class="ui input readonly">
        <input name="name" type="text" readonly value="">
      </div>
    </div>
    <div class="four wide field">
      <label>
        Valor cobrado
      </label>
      <div class="ui left labeled input readonly">
        <div class="ui basic label">R$</div>
        <input name="value" type="text" readonly
               class="right" readonly value="">
      </div>
    </div>
  </div>
  <div class="fields">
    <div class="sixteen wide field">
      <label>Descreva o motivo para abonar o valor cobrado:</label>
      <div class="ui input">
        <textarea name="reasonforgranting" rows="4"
                  placeholder="Faça um breve comentário..."></textarea>
      </div>
    </div>
  </div>
</div>
