{% macro addItem(address, icon, item, parms = {}) %}
  {% if authorization.getAuthorizationFor(address, 'GET') %}
  <li class="item {% if path_for(address, parms) != '/stc' and CurrentURL starts with path_for(address, parms) %}active{% else %}{% if path_for(address, parms) == '/stc' and CurrentURL == '/stc' %}active{% endif %}{% endif %}">
    <a href="{{ path_for(address, parms) }}">
      <i class="fas fa-{{ icon }}"></i>
      {{ item }}
    </a>
  </li>
  {% endif %}
{% endmacro %}
